/* :root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
  --add-bg-color: #f5f4fa;
} */

/* body {
  background: var(--primery-bg-color);
  color: var(--primery-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
} */

/* .conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;

  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  align-items: center;
  cursor: pointer; */

/* h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
} */

/* p {
  margin-top: 0;
  margin-bottom: 0;
}
.img-block {
  display: block;
  max-width: 100%;
} */
/* section */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.app-section-text {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section .title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.66;
}
.section-text {
  width: 270px;

  font-size: 14px;
  line-height: 1.71;
} */

/* header */

/* .page-header {
  display: flex;
  align-items: center;
  width: 1600px;
} */

/* logo*/
/* .header-item {
  display: flex;
  align-items: center;
} */

/* .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  &:hover {
    color: var(--accent-color);
  }
} */

/* .web {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web:hover {
  color: var(--title-text-color);
} */

/* site nav */

/* .site-nav {
  display: flex;
}

.site-nav-link {
  display: flex;
  margin-left: 86px;
}

.site-nav-link .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link a {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  & .item {
  display: flex;
  align-items: center;
}

& a:hover,
& a:focus {
  color: $accent-color ;
}





.site-nav-link .active {
  color: var(--accent-color);
}

.site-nav-link .active::after {
  display: block;

  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";
  border-radius: 2px;
  width: calc(100% - 2px);
  height: 4px;

  background-color: var(--accent-color);
}

.contatcs {
  display: flex;
  margin-left: auto;
}

.contatcs .item:not(:last-child) {
  margin-right: 30px;
}

.icon-contact {
  margin-right: 10px;
  fill: var(--primery-text-color);
}

.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link > .icon-contact {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover > .icon-contact,
.contacts-link:focus > .icon-contact {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contatcs .item {
  display: flex;
  align-items: center;
 */

/* hero */

/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: rgba(47, 48, 58);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../image/backgr.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 46px;
  width: 696px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;

  font-weight: bold;
} */

/* our quality */

/* .border-quality {
  border-bottom: 1px solid #ececec;
}

.quality .list {
  display: flex;
}

.quality-title {
  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.quality .item:not(:last-child) {
  margin-right: 30px;
}

.icon-quality {
  display: block;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
}  */

/* app section */

/* .app-section-list {
  display: flex;
}

.app-section-item:not(:last-child) {
  margin-right: 30px;
}

.app-section-item {
  position: relative;
}

.app-section-text {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  min-width: 370px;
  padding: 27px 15px;
   padding-top: 27px;
  padding-bottom: 27px; 
  background-color: rgba(47, 48, 58, 0.8);

  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}  */

/* team-conteiner */

/* .team-conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  background-color: var(--add-bg-color);
}

.team-section {
  display: flex;
}
.team-section .item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
}

.card-team {
  padding-top: 30px;
  padding-bottom: 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 44px 0;
}
.team-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-main-collor {
  fill: #afb1b8;
}

.team-link > .icon-team {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover > .icon-team,
.team-link:focus > .icon-team {
  color: var(--accent-color);
  fill: var(--primery-bg-color);
}
.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
} */

/* clients */

/* .clients-section {
  display: flex;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link > .icon-clients {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover > .icon-clients,
.clients-link:focus > .icon-clients {
  fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-section li:not(:last-child) {
  margin-right: 30px;
}

.clients-section .title {
  color: var(--title-text-color);
} */

/* footer */

/* .page-footer {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  background: #2f303a;
}
.footer-flex {
  display: flex;
  align-items: baseline;
  padding-top: 48px;
  padding-bottom: 28px;
} */
.address-footer {
  width: 231px;
}

.logo-footer {
  display: block;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.web-footer {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.web-footer:hover {
  color: var(--primery-bg-color);
}
.studio-footer {
  color: var(--primery-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-footer:hover {
  color: var(--accent-color);
}

address p:not(:last-child) {
  margin-bottom: 9px;
}

.city {
  color: var(--primery-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-social {
  margin-left: 69px;
}
.community {
  color: var(--primery-bg-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social {
  display: flex;
  margin-top: 21px;
}

.footer-social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-footer {
  fill: var(--primery-bg-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.social .item:not(:last-child) {
  margin-right: 10px;
}

/* form-footer */

.subscribe {
  display: inline-flex;
  flex-direction: column;
  margin-left: 94px;
}

.subscribe-text {
  margin-bottom: 20px;

  color: var(--primery-bg-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mail-field {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  min-width: 358px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

.footer-form {
  display: flex;
  align-items: baseline;
}

.footer-form ::placeholder {
  padding: 18px 12px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-button {
  display: inline-flex;
  padding-left: 29px;
  padding-right: 13px;
  margin-left: 12px;
  font-weight: 900;
}

.icon-batton {
  margin-left: 10px;
  fill: var(--primery-bg-color);
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;

  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
}

.border-copy {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 1170px;
}

/* portfolio */

.header-border {
  border-bottom: 1px solid #ececec;
}

/* filter */

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

/* buttons */

.radio-button {
  padding: 6px 22px;
  background: var(--add-bg-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-button:hover,
.radio-button:focus {
  background: var(--accent-color);
  color: var(--primery-bg-color);
}

/* examples */

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples .item {
  margin-right: 30px;
  margin-bottom: 30px;

  /* position: relative; */
}

.examples .item:nth-child(3n) {
  margin-right: 0;
}

.examples .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
}

.examples-text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.examples .item:hover,
.examples .item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-content {
  width: 370px;
  padding: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.examples-card {
  position: relative;
  overflow: hidden;
}

.examples-card::before {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}

.card-text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  color: var(--primery-bg-color);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.examples-link:hover .examples-card::before,
.examples-link:focus .examples-card::before {
  transform: translateY(0);

  opacity: 1;
}

.examples-link:hover .card-text,
.examples-link:focus .card-text {
  transform: translateY(0);

  opacity: 1;
}

/* модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(9px, -9px);

  width: 36px;
  height: 36px;
}

.modal-caption {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form {
  display: inline-flex;
  flex-direction: column;
}
.comments {
  padding: 12px 16px;

  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  position: relative;
}

.form-comments {
  position: absolute;
  top: 12px;
  left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments:focus-within {
  border-color: var(--accent-color);
}

.comments:not(:placeholder-shown) + .form-comments {
  transform: scale(0.87) translateY(-40px);
  color: var(--accent-color);
}

.comments:focus-within + .form-comments {
  transform: scale(0.87) translateY(-40px);
  color: var(--accent-color);
}

.form-label {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-field {
  display: block;
  padding-left: 42px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within > .form-icon {
  fill: var(--accent-color);
}

.form-label:focus-within .form-field {
  border-color: var(--accent-color);
}

.form-field:not(:placeholder-shown) + .form-text {
  transform: scale(0.87) translate(-26px, -46px);
  color: var(--accent-color);
}

.form-label:focus-within .form-text {
  transform: scale(0.87) translate(-26px, -46px);
  color: var(--accent-color);
}

.form-policy {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.policy-text {
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.71;
}

.form-policy a {
  color: var(--accent-color);
  text-decoration: underline;
}

.icon {
  display: inline-block;
  width: 15.9px;
  height: 15px;
  margin-right: 8.5px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}
