.contatcs {
  display: flex;
  margin-left: auto;

  & .item:not(:last-child) {
    margin-right: 30px;
  }

  & .item {
    display: flex;
    align-items: center;
  }
}

.icon-contact {
  margin-right: 10px;
  fill: $primery-text-color;
}

.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: $primery-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  & > .icon-contact {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover > .icon-contact,
  &:focus > .icon-contact {
    color: $accent-color;
    fill: $accent-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
