.page-footer {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  background: #2f303a;
}

.address-footer {
  width: 231px;
}
