.header-border {
  border-bottom: 1px solid #ececec;
}

/* filter */

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;

  & .item:not(:last-child) {
    margin-right: 8px;
  }
}
