.border-quality {
  border-bottom: 1px solid #ececec;
}

.quality {
  & .list {
    display: flex;
  }

  &-title {
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  & .item:not(:last-child) {
    margin-right: 30px;
  }

  &-text {
    width: 270px;

    font-size: 14px;
    line-height: 1.71;
  }
}

.icon-quality {
  display: block;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: #f5f4fa;
}
